body{
    font-family: 'Montserrat', sans-serif;
}

#menu{
    float: left; 
    width: 100%;
}

#titulo{
    float: left; 
    width: 70%;
}

a{
    text-decoration: none;
    color:#000;
}

h3{
    color:#000;
}
#cuerpo h3{
    text-align: center; 
    color:#ff0;
}

.texto_verde{
    color:#1abc9c
}